
.about {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.about h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 10%;
}

.about h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 20px;
}
.about p {
    margin-top: 20px;
    font-size: 1.2rem;
}

.minor-text {
    margin-top:50px;
    margin-bottom: 8%;
}